!!! 5
%html
  %head
    %title Rotten Potatoes!
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    %h1.title Rotten Potatoes!
    #main
      
      - if !@current_user
        = button_to 'Sign Up/Login', login_path, :method => :get
      - else
        flash[:notice] = 'Your are logged in as #{@currentuser.user_id}
        = button_to 'Log Out', logout_path, :method => :delete
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]

      = yield
